
#about-banner {
    background-image: url(../img/about/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    background-position: bottom;
}

    #best-service {
       background-image: url(../img/about/trd.png);
      background-size: cover;
       padding: 100px 0;
      }  

  .best-service-heading h2 {
      color: #fff;
      padding: 0 30%;
  }

  .best-service-heading p {
      color: #fff;
      padding: 0px 26%;
      color: #fff;
      padding: 0px 26%;
      margin-top: 10px;
  }

  .best-service-heading {
      text-align: center;
  }

  .des-ter h6 {
      font-size: 18px;
      color: #fff;
      margin-top: 28px;
  }

  .des-ter p {
      font-size: 14px;
      color: #fff;
      line-height: 20px;
      margin-top: 12px;
  }

  .all-item-ter {
      display: flex;
      margin-top: 60px;
      justify-content: center;
  }

  .ter-item-one {
      text-align: center;
      width: 23%;
  }

  .gift-img img {
      border: 2px solid #ff9d34;
      padding: 10px;
      border-radius: 72px;
       transition: 1.2s; 
  }

  .all-ineer-der-ter img {
      padding-top: 30px;
  }

  .gift-img img:hover {
      background: #014073;
      border: 2px solid #fff;
      transform: translateY(-5px);
  }

  .shape-2 {
      -webkit-animation: left2right 3s linear 0s infinite;
      animation: left2right 3s linear 0s infinite;
  }

  @-webkit-keyframes left2right {
      50% {
          -ms-transform: translateY(5px);
          /* IE 9 */
          -webkit-transform: translateY(5px);
          /* Chrome, Safari, Opera */
          transform: translateY(5px);
      }
  }

  .logo-slilder {
      margin-top: 100px;
  }

  .all-logo img {
      width: 60% !important;
      margin: 0 30px;
      opacity: .3;
  }

  .all-logo img:hover {
      opacity: 1;
  }
